@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1eced;
}

.whatsapp {
  min-height: 200px;
  padding: 25px;
  background-color: #c0c7c0;
}

#whatsapp-boton {
  padding: 25px;
  background-color: #378646;
  color: white;
}

.votacion, .votacion--cocina, .votacion--hogar, .votacion--textil {
  min-width: 250px;
  min-height: 250px;
  padding: 1rem;
  background-color: #dfd7d9;
  text-align: center;
  color: black;
  border: 1px solid black;
}

.votacion--cocina {
  min-height: 150px;
  min-width: 150px;
  margin: 1rem;
}

.votacion--hogar {
  min-height: 150px;
  min-width: 150px;
  margin: 1rem;
}

.votacion--textil {
  min-height: 150px;
  min-width: 150px;
  margin: 1rem;
}

.header {
  background-color: #e9b4bd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: sans-serif;
}

.nav__hijo {
  background-color: #856a78;
  color: white;
  border-radius: 10px;
}

.nav-link {
  padding-right: 0;
  padding-left: 10px;
  margin: 5px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-align: center;
}

.navbar-toggler {
  background-color: #856a78;
}

.container-fluid {
  background-color: #e9b4bd;
}

.bg-light {
  --bs-bg-opacity: 0;
}

.parallax {
  background-image: url(../Imagenes/tocador_ba_o_banner_web.jpg);
  background-attachment: fixed;
  height: 400px;
  display: flex;
  align-self: center;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.instagram {
  display: flex;
  justify-content: space-evenly;
}

iframe {
  border-radius: 10px;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
}

.titulo-instagram {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 50px;
}

.logo-instagram {
  margin-right: 20px;
  height: 50px;
  align-self: center;
}

.masvendidos {
  display: flex;
  justify-content: center;
}

.masvendidos-titulo {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 50px;
}

.masvendidos-texto {
  text-align: center;
}

.masvendidos-encuadre {
  background-color: #f1eced;
  color: black;
  width: 300px;
  padding: 16px;
  border: 2px solid #856a78;
  border-radius: 16px;
  margin: 16px;
  display: inline-block;
  text-align: center;
}

.tracking-in-expand:hover {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.grid {
  padding: 2rem 0;
  background-color: #f1eced;
  text-align: center;
}

.grid__contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.grid__title {
  font-size: 30px;
  margin-bottom: 2rem;
  color: black;
}

.grid__texto {
  font-size: 30px;
  margin-bottom: 2rem;
  font-style: italic;
}

.grid__subtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 50px;
}

.grid__subtitle--h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 5px;
  border-radius: 20px;
  font-size: 20px;
}

.grid__grilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 220px);
  grid-template-areas: "ele1 ele2 ele3 ele4"  "ele5 ele6 ele7 ele8";
  gap: 1rem;
}

.grid__item {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.grid__item--cocina {
  background-color: #ceb4e2;
}

.grid__img {
  position: absolute;
  top: 0;
  left: -0.5rem;
  transform: rotate(30deg);
  transition: transform 1s;
}

.grid__carrito {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  margin: 0 5px 5px 0;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 30px;
  background-color: aquamarine;
  cursor: pointer;
}

#grid-fondo-cocina {
  background-color: #ceb4e2;
}

#grid-fondo-deco {
  background-color: #f0d5b0;
}

#grid-fondo-textil {
  background-color: #eed9de;
}

.grid__item--1 {
  grid-area: ele1;
  background-color: #eed9de;
}

.grid__item--1:hover {
  transform: rotate(360deg);
  transition: transform 3s;
}

.grid__item--2 {
  grid-area: ele2;
  background-color: #f0d5b0;
  transition: transform 1s;
}

.grid__item--2:hover {
  transform: scale(1.1);
}

.grid__item--3 {
  grid-area: ele3;
  background-color: #ceb4e2;
  transform: rotate(-5deg);
}

.grid__item--3:hover {
  transform: rotate(0deg);
}

.grid__item--4 {
  grid-area: ele4;
  background-color: #eed9de;
  transition: transform 1s;
}

.grid__item--4:hover {
  transform: scale(1.1);
}

.grid__item--5 {
  grid-area: ele5;
  background-color: #f0d5b0;
  transform: rotate(5deg);
}

.grid__item--5:hover {
  transform: rotate(0deg);
}

.grid__item--6 {
  grid-area: ele6;
  background-color: #ceb4e2;
  transition: transform 1s;
}

.grid__item--6:hover {
  transform: scale(1.1);
}

.grid__item--7 {
  grid-area: ele7;
  background-color: #eed9de;
  transition: transform 1s;
}

.grid__item--7:hover {
  transform: scale(1.1);
}

.grid__item--8 {
  grid-area: ele8;
  background-color: #ceb4e2;
  transition: transform 1s;
}

.grid__item--8:hover {
  transform: scale(1.1);
}

.grid__img:hover {
  transform: rotate(0deg);
}

footer {
  background-color: #333333;
  width: 100%;
  text-decoration: none;
  list-style: none;
  color: white;
  min-height: 300px;
}

.eleginos {
  background-color: #856a78;
  color: white;
  padding: 50px;
}

.novedades {
  background-image: linear-gradient(to right, #333333, #f0d5b0);
  color: white;
  padding: 50px;
  width: 100%;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.swal2-container.swal2-center > .swal2-popup {
  background-color: #300864;
  color: #fff;
  border-radius: 50%;
}

.h3, h3 {
  font-size: 20px;
}

.total-size {
  font-size: 30px;
}

.ml-auto, .mx-auto {
  margin-left: auto;
}

.ml-4, .mx-4 {
  margin-left: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 5px;
  border-radius: 20px;
  font-size: 20px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.menu-bajo {
  margin: 20px;
  list-style: none;
  flex-direction: column;
  font-family: sans-serif;
}

.menu-bajo__hijo {
  display: inline-block;
  background-color: #856a78;
  padding: 10px;
  margin: 1rem;
  text-decoration: none;
  list-style: none;
  color: white;
  border-radius: 10px;
}

.hover-menu :hover {
  background-color: #ffffff;
  color: #856a78;
}

/* Usando el mapa */
.btn-twitter {
  background-color: #55acee;
}

.btn-facebook {
  background-color: #3a5795;
}

.btn-instagram {
  background-color: #C25E30;
}

.btn-pinterest {
  background-color: #e60f0f;
}

.jam-facebook-square:before {
  color: white;
  text-decoration: none;
  list-style: none;
}

.hoverface :hover {
  background-color: #333333;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1023px) {
  .masvendidos {
    flex-direction: column;
    align-items: center;
  }
  .masvendidos-titulo {
    font-size: 40px;
    padding: 1rem;
    margin: 0;
  }
  .parallax {
    background-size: contain;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: row;
  }
  .imagen-portada {
    height: 100px;
    width: 100px;
  }
  nav {
    display: none;
    flex-direction: row;
  }
  .grid__grilla {
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 220px);
    grid-template-areas: "ele1" "ele2" "ele3" "ele4" "ele5" "ele6" "ele7" "ele8";
  }
  .grid__title {
    font-size: 50px;
  }
  .grid__subtitle {
    font-size: 40px;
  }
  .grid__texto {
    font-size: 20px;
    padding: 1rem;
  }
  .instagram {
    flex-direction: column;
    padding: 1rem;
    align-content: center;
    text-align: center;
  }
  .instagram-reel {
    width: 200px;
  }
  .titulo-instagram {
    font-size: 50px;
    text-align: center;
    font-weight: 200;
  }
  .masvendidos {
    flex-direction: column;
    align-items: center;
  }
  .masvendidos-titulo {
    font-size: 40px;
    padding: 1rem;
  }
  .masvendidos-texto {
    padding: 1rem;
    font-size: 20px;
  }
  .masvendidos-encuadre__hijo {
    padding-top: 0.5rem;
  }
  .parallax {
    background-size: 650px;
    background-position-y: center;
    height: 275px;
  }
}

/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}

.formulario {
  min-height: 300px;
  padding: 25px;
  text-align: center;
}

.contact {
  margin-block-end: 5em;
}

.u-wrapper {
  max-inline-size: 1232px;
  margin: 0 auto;
  padding: 0 1em;
}

.form {
  max-inline-size: 550px;
  margin: auto;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  padding-inline-start: .5em;
}

.form input, .form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: .8em;
  border-radius: .5em;
  border: 1px solid #858C94;
}

.form textarea {
  margin-block-end: 2em;
  font-family: inherit;
}

input::-webkit-input-placeholder {
  color: #0F0A0A88;
}

.btn-form {
  border-radius: 90px;
  letter-spacing: 1.25px;
  background: initial;
  block-size: 50px;
  display: block;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  border: 2px solid black;
  font-weight: bold;
  padding: 0 1.5em;
  background-color: #856a78;
  color: white;
}

.btn-form:hover {
  background-color: aqua;
  color: black;
}

.btn-form.full {
  width: 100%;
}
/*# sourceMappingURL=estilos.css.map */