footer{
    background-color: #333333;
    width: 100%;
    text-decoration: none;
    list-style: none;
    color: white;
    min-height: 300px;

}

.eleginos{
    background-image: linear-gradient(to right, #7a7a7a, #e68998);
    color: white;
    padding: 50px;
    width: 100%;
}

.novedades{
    background-image: linear-gradient(to right, #e68998, #66b166);
    color: white;
    padding: 50px;
    width: 100%;
}

button:not(:disabled) {
    background-color: $color-botones;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.menu-bajo{
    margin: 20px;
    list-style: none;
    flex-direction: column;
    font-family: sans-serif;
}

.menu-bajo__hijo{
    display: inline-block;
    background-color: $color-botones;
    padding: 10px;
    margin: 1rem;
    text-decoration: none;
    list-style: none;
    color: white;
    border-radius: 10px;
}

.header__open{
    display: none;
}

@for $i from 1 through 6 {
    .col-#{$i} {
        width: (100% / 6) * $i;
        background-color: #4e4e4e;
        border-radius: 10%;
        color: white;
        text-decoration: overline;
    }
}

$redes: ( 
 twitter: #55acee,
 facebook: #3a5795,
 instagram: #C25E30,
 pinterest: #e60f0f
); 

/* Usando el mapa */
@each $clave, $valor in $redes { 
    .btn-#{$clave} {
        background-color: $valor;
    }
}

.jam-facebook-square:before {
    color: white;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}