@media screen and (max-width: 1023px) {
    .productos{
        flex-direction: column;
        align-items: center;
    }

    .parallax{
        background-size: contain;
    }

        
}

@media screen and (max-width: 600px) {
    .header{
        flex-direction: row;
    }

    .imagen-portada{
        height: 100px;
        width: 100px;
    }

    nav{
        display: none;
        flex-direction: row;
    }

    .grid{
        display: block;
        transform: scale(0.90);
    }

    .grid__hijo{
        margin: 5px;
    }

    .titulo-productos{
        font-size: 50px;
        text-align: center;
    }

    .titulo-instagram{
        font-size: 50px;
        text-align: center;
        font-weight: 200;
    }

    .productos{
        flex-direction: column;
        align-items: center;
    }

    .parallax{
        background-size: 650px;
        background-position-y: center;
        height: 275px;
    }

    .principal__titulo{
        font-size: 70px;        
    }

    .principal__texto{
        text-align: justify;
        font-size: medium;
        padding: 20px;
    }

    .header__open{
        display: block;
        font-size: 32px;
        color: white;
        text-decoration: none;
    }

}