@media screen and (max-width: 1023px) {
    .masvendidos{
        flex-direction: column;
        align-items: center;
    }

    .masvendidos-titulo{
        font-size: 40px;
        padding: 1rem;
        margin: 0;
    }

    .parallax{
        background-size: contain;
    }

        
}

@media screen and (max-width: 600px) {
    .header{
        flex-direction: row;
    }

    .imagen-portada{
        height: 100px;
        width: 100px;
    }

    nav{
        display: none;
        flex-direction: row;
    }

    .grid__grilla {
        padding: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 220px);
        grid-template-areas: 
            "ele1"
            "ele2"
            "ele3"
            "ele4"
            "ele5"
            "ele6"
            "ele7"
            "ele8";
   }

    .grid__title{
        font-size: 50px;
    }

    .grid__subtitle{
        font-size: 40px;
    }

    .grid__texto{
        font-size: 20px;
        padding: 1rem;
    }

    .instagram{
        flex-direction: column;
        padding: 1rem;
        align-content: center;
        text-align: center;
    
    }

    .instagram-reel{
        width: 200px;
    }

    .titulo-instagram{
        font-size: 50px;
        text-align: center;
        font-weight: 200;
    }

    .masvendidos{
        flex-direction: column;
        align-items: center;
    }

    .masvendidos-titulo{
        font-size: 40px;
        padding: 1rem;
    }

    .masvendidos-texto{
        padding: 1rem;
        font-size: 20px;
    }

    .masvendidos-encuadre__hijo{
        padding-top: 0.5rem;
    }

    .parallax{
        background-size: 650px;
        background-position-y: center;
        height: 275px;
    }

}