.parallax{        
    background-image: url(../Imagenes/tocador_ba_o_banner_web.jpg);
    background-attachment: fixed;
    height: 400px;
    display: flex;
    align-self: center;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}



