.principal{
    background-color: #f1eced;
    color: black;
    width: auto;
    padding: 16px;
    border: 2px solid $color-botones;
    border-radius: 16px;
    margin: 16px;
    display: inline-block;
    text-align: center;

    &__titulo{
        color: rgb(0, 0, 0);
        font-size: 70px;
        text-align: center;
        font-weight: 200;
        text-shadow: 2px 2px 2px $color-botones;
    
    }

    &__texto{
        font-style: italic;
        font-size: 20px;
    }

}

.productos{
    display: flex;
    justify-content: center;
}

.titulo-productos{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 50px;
}

.texto-productos{
    text-align: center;
}

.tracking-in-expand:hover {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
  

.grid__hijo--1{
    grid-area: foto1;
    animation-name: amigurrumi;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
}

.grid__hijo--2{
    grid-area: foto2;
    transition: transform 2s;
}

.grid__hijo--2:hover{
    transform: scale(0.5);
}

.grid__hijo--3{
    grid-area: foto3;
    transform: rotate(-15deg);
}

.grid__hijo--4{
    grid-area: foto4;
    transform: rotate(15deg);
}

.grid__hijo--5{
    grid-area: foto5;
    transition: transform 2s;
}

.grid__hijo--5:hover{
    transform: scale(1.3);
}

.grid__hijo--6{
    grid-area: foto6;
    animation-name: toallon;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
}

@keyframes amigurrumi {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

@keyframes toallon {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

.encuadre{
    background-color: #f1eced;
    color: black;
    width: 300px;
    padding: 16px;
    border: 2px solid $color-botones;
    border-radius: 16px;
    margin: 16px;
    display: inline-block;
    text-align: center;

    &__hijo{
        margin-bottom: 15px;
    }
}


.instagram{
    background-color: #f1eced;
    color: black;
    width: 300px;
    padding: 16px;
    border-radius: 16px;
    margin: 16px;
    display: inline-block;
    text-align: center;

}

.titulo-instagram{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 50px;
}

.logo-instagram{
    margin-right: 20px;
    height: 50px;
    align-self: center;
}

.encuadre{
    background-color: #f1eced;
    color: black;
    width: 300px;
    padding: 16px;
    border: 2px solid $color-botones;
    border-radius: 16px;
    margin: 16px;
    display: inline-block;
    text-align: center;

    &__hijo{
        margin-bottom: 15px;
    }
}
